<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="{{ meet.image.url }}" alt="{{ meet.title }}" />

            </div>
            <div class="meetup-details">
                <h3> {{ meet.title }} </h3>
                <address> {{ meet.location }} </address>
            </div>
        </div>
        <div class="meetup-actions">
            <a href="{% url 'meetup_item' meet.slug %}" class="btn">More Details</a>
        </div>
    </article>
</li>